@inherits LayoutComponentBase

<link href="css/home.css" rel="stylesheet" />

<div class="page">
    <div class="navbar">
        <NavMenu />
    </div>

    <main>
        @*<img src="background-edited.png" id="background" />*@
        @Body
    </main>
</div>
