@page "/about"

<PageTitle>Hooks | About Us</PageTitle>
<link href="css/about.css" rel="stylesheet" />

<div id="about-container">
    <div id="sidebar">
        <p id="selected">Welcome to HOOKS</p>
        <p>Our Mission</p>
        <p>How to Register?</p>
        <p>Profile Page Setup</p>
    </div>
    <div id="content">
        <h2>Welcome to HOOKS</h2>   
        <p>
            <span style="color: #B03F2F; font-weight: bold;">Meet. Match. Mingle</span><br>

            At HOOKS, we believe in the magic of connection. We're here to provide a platform where you can meet, match, and mingle with incredible individuals who share your zest for life, your interests, and your dreams. Whether you're seeking a soulmate, a companion, or someone to share adventures with, we're dedicated to creating a warm and inviting space for you to explore and connect.
        </p>
    </div>
</div>
