@page "/register2"

<link href="css/register.css" rel="stylesheet" />

<div id="register-container">
    <h2>Welcome! How do you want to get started?</h2>
    <button>Continue with mobile number</button>
    <button>Continue with email</button>
</div>


